<h1> Thank you for submitting your complaint.</h1>
<div class="col">
    <a asp-action="PatientDashboardPrenatalCare" class="btn w-75 border-lightbluesteel" style="background-color: lightsteelblue">Go Back To Main Menu</a>
</div>
