@model PHCApplication.Models.ChatFeedback
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_PatientMedicalProcedureLayout.cshtml";
}

<h1>Edit feedback</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback" class="control-label"></label>
                <textarea asp-for="Feedback" class="form-control"></textarea>
                <span asp-validation-for="Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" type="number" min="1" max="5" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaitTimeInMinutes" class="control-label"></label>
                <input asp-for="WaitTimeInMinutes" class="form-control" type="number" min="1" />
                <span asp-validation-for="WaitTimeInMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatmentEffectiveness" class="control-label"></label>
                <input asp-for="TreatmentEffectiveness" class="form-control" type="number" min="1" max="5" />
                <span asp-validation-for="TreatmentEffectiveness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunicationClarity" class="control-label"></label>
                <input asp-for="CommunicationClarity" class="form-control" type="number" min="1" max="5" />
                <span asp-validation-for="CommunicationClarity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EaseOfAppointment" class="control-label"></label>
                <input asp-for="EaseOfAppointment" class="form-control" type="number" min="1" max="5" />
                <span asp-validation-for="EaseOfAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SatisfactionWithExperience" class="control-label"></label>
                <input asp-for="SatisfactionWithExperience" class="form-control" type="number" min="1" max="5" />
                <span asp-validation-for="SatisfactionWithExperience" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back </a>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


