<form style="background-color:aliceblue">
    <br />

    <h2>Vaccines Availability</h2>
    <br />

    <html>
    <head>

        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }

            tr {
                height: 50px; /* Adjust the height as needed */
            }

            button {
                padding: 5px 10px;
            }
        </style>
    </head>


    <body>

        <table>
            <tr>
                <th>Vaccine Name</th>
                <th>Available</th>
                <th>Changes</th>
            </tr>
            <tr>
                <td>Covid-19</td>
                <td>300</td>
                <td> <input type="submit" class="btn btn-info w-75" value="Update" /></td>
            </tr>
            <tr>
                <td>Malaria Vaccine</td>
                <td>100</td>
                <td> <input type="submit" class="btn btn-info w-75" value="Update" /></td>
            </tr>
            <tr>
                <td>FLU</td>
                <td>500</td>
                <td> <input type="submit" class="btn btn-info w-75" value="Update" /></td>
            </tr>
            <tr>
                <td>Chickenpox</td>
                <td>50</td>
                <td> <input type="submit" class="btn btn-info w-75" value="Update" /></td>
            </tr>
        </table>

    </body>
</html>
<br />
<br />
</form>
