
<!DOCTYPE html>
<html>
<head>
    <title>Review Form</title>
</head>
<body>


    <form style="background-color:paleturquoise">
        <h1>Report Event</h1>
        <h3>Report an adverse event that occured after vaccination:</h3>
        <br>
        &nbsp;  <textarea id="review" name="review" rows="12" cols="150" placeholder="Write your report here..." required></textarea><br><br>

        &nbsp; <input type="submit" class="btn btn-info w-60" value="Submit Report" input />
        <br />
        <br />
    </form>
</body>
</html>