
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PatientMedicalProcedureLayout.cshtml";
}

@model PHCApplication.Models.Reminder
@{
    var SuccessMessage = TempData["SuccessMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(SuccessMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong>@SuccessMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div>
    <a asp-action="Index">Back</a>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ReminderType" class="control-label"></label>
                <input asp-for="ReminderType" class="form-control" />
                <span asp-validation-for="ReminderType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ReminderDate" class="control-label"></label>
                <input asp-for="ReminderDate" class="form-control" type="datetime-local" />
                <span asp-validation-for="ReminderDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsCompleted">Is Completed:</label>
                <select asp-for="IsCompleted" class="form-control">
                    <option value="true">Completed</option>
                    <option value="false">Not Completed</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Priority">Priority:</label>
                <input asp-for="Priority" class="form-control" type="number" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsRecurring" class="form-check-label">Is Recurring:&nbsp;</label>
                <input asp-for="IsRecurring" type="checkbox" class="form-check-input" />
                <span asp-validation-for="IsRecurring" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location">Location:</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back</a>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

