@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PatientMedicalProcedureLayout.cshtml";
}


@model IEnumerable<PHCApplication.Models.MedicalRecord>

@{
    var SuccessMessage = TempData["SuccessMessage"]?.ToString();
 }

@if (!string.IsNullOrWhiteSpace(SuccessMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong>@SuccessMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

}







@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

