@{
    ViewData["Title"] = "PatientDashboard";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}


<head>

    <meta charset="utf-8">
    <title>Patient - Bootstrap Patient Template</title>


    <link rel="shortcut icon" type="image/x-icon" href="~/SideManu/assets/img/favicon.png">

    <link href="../../../../css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="~/SideManu/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/SideManu/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/SideManu/assets/plugins/fontawesome/css/fontawesome.min.css">

    <link rel="stylesheet" href="~/SideManu/assets/css/fullcalendar.min.css">

    <link rel="stylesheet" href="~/SideManu/assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="~/SideManu/assets/plugins/morris/morris.css">

    <link rel="stylesheet" href="~/SideManu/assets/css/style.css">

    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
    <link rel="stylesheet" type="text/css" href="~/Dash/css/style.css">

    <style>
        .custom-heading {
            font-size: 24px;
            color: black;
            font-weight: bold;
            text-transform: uppercase;
            /* Add more styles as needed */
        }
    </style>

    <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.min.js"></script>
            <script src="assets/js/respond.min.js"></script>
        <![endif]-->
</head>

<!--This is a header of our page you can copy and past it in any new view u create, Lets Goo!-->
<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h3 class="page-title mb-0">Patient Dashboard for chronic medication</h3>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb mb-0 p-0 float-right">
                    <li class="breadcrumb-item"><a href="/Home/PatientMedicalLandingPage"><i class="fas fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item"><span>Dashboard</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<body class="bg-gray-100">



    <!-- strat wrapper -->
    <div class="h-screen flex flex-row flex-wrap">


        <!-- strat content -->
        <div class="bg-blue-100 flex-1 p-6 md:mt-16">


            <!-- General Report -->
            <div class="grid grid-cols-4 gap-6 xl:grid-cols-1">


                <!-- card -->
                <div class="report-card">
                    <div class="card" style="background-color: darkgoldenrod; ">
                        <div class="card-body flex flex-col">

                            <!-- top -->
                            <div class="flex flex-row justify-between items-center">
                                <div class="h6 text-indigo-700">
                                    <i class="fa fa-calendar" style="font-size:48px;color:black"></i>
                                </div>
                                <span class="rounded-full text-white badge bg-teal-400 text-xs">

                                    <i class="fal fa-chevron-up ml-1"></i>
                                </span>
                            </div>
                            <!-- end top -->
                            <!-- bottom -->
                            <div class="mt-8">
                                <h1 class="h5 num-4"></h1>
                                <h6 class="custom-heading">Booking</h6>
                            </div>
                            <!-- end bottom -->

                        </div>
                    </div>
                    <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none rounded-lg-b"></div>
                </div>
                <!-- end card -->
                <!-- card -->
                <div class="report-card">
                    <div class="card" style="background-color: DodgerBlue;">
                        <div class="card-body flex flex-col">

                            <!-- top -->
                            <div class="flex flex-row justify-between items-center">
                                <div class="h6 text-red-700">
                                    <i class="fab fa-cc-mastercard" style="font-size:48px;color:black"></i>
                                </div>

                                <span class="rounded-full text-white badge bg-red-400 text-xs">

                                    <i class="fal fa-chevron-down ml-1"></i>
                                </span>
                            </div>
                            <!-- end top -->
                            <!-- bottom -->
                            <div class="mt-8">
                                <h1 class="h5 num-4"></h1>
                                <h6 class="custom-heading">Patient billing</h6>
                            </div>
                            <!-- end bottom -->

                        </div>
                    </div>
                    <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
                </div>
                <!-- end card -->
                <!-- card -->
                <div class="report-card">
                    <div class="card" style="background-color: dodgerblue;">
                        <div class="card-body flex flex-col">

                            <!-- top -->
                            <div class="flex flex-row justify-between items-center">
                                <div class="h6 text-yellow-600">
                                    <i class="fa fa-bell" style="font-size:48px;color:black"></i>
                                </div>

                                <span class="rounded-full text-white badge bg-teal-400 text-xs">

                                    <i class="fal fa-chevron-up ml-1"></i>
                                </span>
                            </div>
                            <!-- end top -->
                            <!-- bottom -->
                            <div class="mt-8">
                                <h1 class="h5 num-4"></h1>
                                <h6 class="custom-heading">Report</h6>
                            </div>
                            <!-- end bottom -->

                        </div>
                    </div>
                    <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
                </div>
                <!-- end card -->
                <!-- card -->
                <div class="report-card">
                    <div class="card" style="background-color: darkgoldenrod;">
                        <div class="card-body flex flex-col">

                            <!-- top -->
                            <div class="flex flex-row justify-between items-center">
                                <div class="h6 text-green-700">
                                    <i class="fa fa-list" style="font-size:48px;color:black"></i>
                                </div>
                                <span class="rounded-full text-white badge bg-teal-400 text-xs">

                                    <i class="fal fa-chevron-up ml-1"></i>
                                </span>
                            </div>
                            <!-- end top -->
                            <!-- bottom -->
                            <div class="mt-8">
                                <h1 class="h5 num-4"></h1>
                                <h6 class="custom-heading">Medication prescribed</h6>
                            </div>
                            <!-- end bottom -->

                        </div>
                    </div>
                    <div class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"></div>
                </div>
                <!-- end card -->


            </div>
            <!-- End General Report -->
            <!-- strat Analytics -->
            <div class="mt-6 grid grid-cols-2 gap-6 xl:grid-cols-1">

                <!-- update section -->
                <div class="card bg-teal-400 border-teal-400 shadow-md text-blue">
                    <div class="card-body flex flex-row">

                        <!-- image -->
                        <div class="img-wrapper w-40 h-40 flex justify-center items-center">
                            <img src="~/Dash/img/happy.svg" alt="img title">
                        </div>
                        <!-- end image -->
                        <!-- info -->
                        <div class="py-2 ml-10">
                            <h1 class="h6">Good Job, Patient!</h1>
                            <p class="text-blue text-xs">You've finished all of your tasks for this week.</p>

                            <ul class="mt-4">
                                <li class="text-sm font-light"><i class="fad fa-check-double mr-2 mb-2"></i>Check collection dates</li>
                                <li class="text-sm font-light"><i class="fad fa-check-double mr-2 mb-2"></i>Collected medication</li>
                                <li class="text-sm font-light"><i class="fad fa-check-double mr-2"></i>Regularly log onto the  site</li>
                            </ul>
                        </div>
                        <!-- end info -->

                    </div>
                </div>
                <!-- end update section -->
                <!-- carts -->








            </div>
            <!-- end nmbers -->

        </div>
        <!-- end content -->

    </div>
    <!-- end wrapper -->
    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script src="~/Dash/js/scripts.js"></script>
    <!-- end script -->

</body>
</html>